<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.musicapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PlayingNow"
            android:label="@string/act_playing_now" />
        <activity
            android:name=".Discover"
            android:label="@string/act_discover" />
        <activity
            android:name=".Playlists"
            android:label="@string/act_playlists" />
        <activity
            android:name=".Library"
            android:label="@string/act_library" />
    </application>

</manifest>